body {
  padding-top: 50px;
}
.search {
  padding: 40px 15px;
  text-align: center;
}

.nl2cmd-box {
	width: 288pt
}

.nl2cmd-span{
	font-family:  monospace;
}

.error_report {
  padding: 40px 15px;
  text-align: center;
}