admin_username = "admin"
admin_password = "admin"

# Google authentication info requires a (free) Google custom search key:
# https://console.developers.google.com
google_api_key = "..."
google_search_engine_id = "..."
